.font-primary {
  font-family: 'Lobster Two', cursive;
}

.font-secondary {
  font-family: 'Heebo', sans-serif;
}

.text-color-primary {
  color: #FF3366;
}

.text-color-secondary {
  color: black;
}

.text-color-third {
  color: #F7F7FF;
}

.bg-color-primary {
  background-color: #495867;
}

.bg-color-secondary {
  background-color: #577399;
}

.bg-color-third {
  background-color: #BDD5EA;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

  a:hover {
    text-decoration: none;
  }

  .author-img {
    height: 150px;
    width: 150px;
    margin: 50px 30px
  }

  .profile-img {
    height: 250px;
    width: 250px;
    margin: 10px;
  }