{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Lobster+Two:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if post.title %}
    <title>{{ post.title }}</title>
    {% else %}
    <title>BLOGGY</title>
    {% endif %}
</head>

<body class="bg-color-primary">
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-color-primary font-brand">
            <a class="navbar-brand ml-5" href="#">
                <h2 class="text-color-secondary">
                    Bloggy
                </h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'blog-home' %}">
                            <h4>
                                <i class="fas fa-home text-color-secondary"></i>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'blog-about' %}">
                            <h4>
                                <i class="fas fa-info text-color-secondary"></i>
                            </h4>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <h4>
                                <i class="fas fa-user-circle text-color-secondary"></i>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <h4>
                                <i class="fas fa-sign-out-alt text-color-secondary"></i>
                            </h4>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item mr-3">
                        <h4>
                            <a class="nav-link" href="{% url 'login' %}">
                                <div class="text-color-secondary">
                                    Login
                                </div>
                            </a>
                        </h4>
                    </li>
                    <li class="nav-item mr-5">
                        <h4>
                            <a class="nav-link" href="{% url 'register' %}">
                                <div class="text-color-secondary">
                                    Register
                                </div>
                            </a>
                        </h4>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>