{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron mt-5 bg-color-third">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-row justify-content-center">
                <img src="../../static/blog/edgar_allan_poe.png" alt="Edgar Allan Poe">
            </div>
        </div>
        <div class="col-9">
            <h2>
                "I would define, in brief, the poetry of words as the rhythmical creation of
                <del>Beauty</del> a Blog."
            </h2>
            <h4>-Edgar Allan Poe</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-xs-12 ml-5 mr-3">
            {% for post in posts %}
            <div class="card font-primary mb-3">
                <h5 class="card-header bg-color-fourth">Post:</h5>
                <div class="card-horizontal bg-color-fourth">
                    <div class="image-wrapper">
                        <img class="rounded-circle author-img" src="{{ post.author.profile.image.url }}" />
                    </div>
                    <div class="card-body">
                        <a href="{% url 'post-detail' post.id %}">
                            <h1 class="card-title text-color-secondary">{{ post.title }}</h1>
                        </a>
                        <a class="text-color-primary"
                            href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="text-muted">Submitted: {{ post.date_posted|date:"F d, Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-1 col-xs-12 d-flex justify-content-center">
            <div class="position-fixed d-flex flex-column user-i">
                <a href="{% url 'post-create' %}">
                    <div class="btn bg-color-fourth user-i-btn text-color-primary">
                        <i class="fas fa-feather"></i>
                    </div>
                </a>
                <a href="{% url 'logout' %}">
                    <div class="btn bg-color-fourth user-i-btn text-color-primary">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                </a>
            </div>
        </div>
        {% else %}
        <div class="col-1 d-flex justify-content-center">
            <div class="position-fixed d-flex flex-column user-i">
                <button class="btn bg-color-fourth user-i-btn text-color-primary" disabled>
                    <i class="fas fa-feather"></i>
                </button>
                <a href="{% url 'login' %}">
                    <div class="btn bg-color-fourth user-i-btn text-color-primary">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?page=1">First</a></li>
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
{% endblock content %}