{% extends "blog/base.html" %}
{% block content %}
<div class="container bloggy-post bg-color-fourth">
    <h1>Are you sure?</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-4">Delete "{{ object.title }}"?</legend>
            </fieldset>
            <div>
                <button class="btn btn-danger">Delete</button>
                <a class="btn btn-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}