{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="rounded pt-4 pb-2 mt-5 mb-5 text-center font-primary bg-color-third">
        <h1>{{ view.kwargs.username }}</h1>
        <h5 class="text-muted">{{ page_obj.paginator.count }} entries total</h5>
    </div>

    {% for post in posts %}
    <div class="card mb-3">
        <h5 class="card-header bg-color-fourth">Featured</h5>
        <div class="card-horizontal bg-color-fourth">
            <div class="image-wrapper">
                <img class="rounded-circle author-img" src="{{ post.author.profile.image.url }}" />
            </div>
            <div class="card-body">
                <a href="{% url 'post-detail' post.id %}">
                    <h1 class="card-title font-primary text-color-secondary">{{ post.title }}</h1>
                </a>
                <a class="text-color-primary" href="#">{{ post.author }}</a>
                <p class="card-text">{{ post.content }}</p>
                <p class="text-muted">Submitted: {{ post.date_posted|date:"F d, Y" }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?page=1">First</a></li>
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="btn page-link bloggy-pagination" href="?={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="btn page-link bloggy-pagination"
                    href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}