{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bloggy-form bg-color-fourth">
    <h1>
        <i class="fas fa-feather"></i>
    </h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In to Bloggy</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn bg-color-third">Enter</button>
            </div>
            <div>
                <a href="{% url 'password_reset' %}">Reset Password</a>
            </div>
        </form>
        <div>
            Need an Account?
            <a href="{% url  'register' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock content %}