{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bloggy-form bg-color-fourth">
    <h2 class="mb-5">Need to change your password?</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-5">Enter email address for your account:</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn bg-color-third">Request Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}