{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bloggy-form bg-color-fourth">
    <h3>Hey, {{ user.username }}. Need to make a change?</h3>
    <img class="rounded-circle profile-img"src="{{ user.profile.image.url }}" />
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Profile Info:</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div>
            <button class="btn bg-color-third">Update</button>
        </div>
    </form>
</div>
{% endblock content %}