{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 mb-5 bg-color-fourth">
    <h3 class="mt-5">Hey, {{ user.username }}. Need to update your profile?</h3>
    <img class="mb-5 rounded-circle profile-img"src="{{ user.profile.image.url }}" />
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-danger mb-5">Update</button>
        </div>
    </form>
</div>
{% endblock content %}